<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDITdlUJFxy_JzvgLaJIbonmr53ijWFqZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>156627544148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.dot.wera</string>
	<key>PROJECT_ID</key>
	<string>devdotwera</string>
	<key>STORAGE_BUCKET</key>
	<string>devdotwera.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156627544148:ios:a300c7f873dddaccd1e5c1</string>
</dict>
</plist>