@import 'tailwindcss';
@import 'uniwind';

@theme {
  --font-sans: "IBMPlexMono_400Regular";
  --font-sans-thin: "IBMPlexMono_100Thin";
  --font-sans-light: "IBMPlexMono_300Light";
  --font-sans-medium: "IBMPlexMono_500Medium";
  --font-sans-semibold: "IBMPlexMono_600SemiBold";
  --font-sans-bold: "IBMPlexMono_700Bold";
  /* --font-sans-extrabold: "IBMPlexMono_800ExtraBold"; */
}

@layer theme {
  :root {
    @variant light {
      --color-background: #ffffff;
      --color-foreground: #000000;
      --color-muted: #808080;
      --color-muted-foreground: #60646C;
      --color-border: #E0E1E6;
      --color-primary: #0097b2;
    }

    @variant dark {
      --color-background: #000000;
      --color-foreground: #ffffff;
      --color-muted: #99a1af;
      --color-muted-foreground: #B0B4BA;
      --color-border: #2E3135;
      --color-primary: #0097b2;
    }
  }
}
